<div ui-content-for="title">
    <span>Bars</span>
</div>

<div class="container">

    <div class="scrollable" ui-shared-state="searchBar" ng-controller="BarController">

        <input
                type="search"
                class="form-control scrollable-header"
                placeholder="Search By Bar Name.."
                ng-model="searchString"/>

        <div class="scrollable-content">

            <a ng-repeat="bar in filteredBars = (bars | searchFilter: searchString)" href="" class="list-group-item" ng-click="getDrinks(bar)">
                <div class="inline-block" style="width: 250px;"><img style="max-height: 100px" ng-src="{{ bar.imageUrl }}"/></div>
                <div class="inline-block">{{ bar.name }}</div>
                <i class="fa fa-chevron-right pull-right"></i>
            </a>
        </div>
    </div>

</div>

</div>
